<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/normalize.css')}}" type="text/css" />
    <link rel='stylesheet prefetch' href="{{ url_for('static', filename='stylesheets/font.css')}}">
    <link rel='stylesheet prefetch' href="{{ url_for('static', filename='stylesheets/jquery.mCustomScrollbar.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/mystyle.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='javascripts/plugins/croppic/assets/css/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='javascripts/plugins/croppic/assets/css/croppic.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css')}}" type="text/css" />
    <script src='{{ url_for('static', filename='javascripts/jquery.min.js')}}'></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/socket.io.min.js') }}"></script>
  </head>

  <body>
    <div class="chat">
	  <div class="chat-title">
  		<h1>
        {{ current_user.id }}
        <i class="fa fa-cog" aria-hidden="true" onclick="CroppicEvent()"></i>
      </h1>
  		<figure class="avatar">
  		  <img src="static/mugshot/{{ mug_shot_title }}" />
  		</figure>
      <button class="chat-unread">  There's some unread messages  </button>
    </div>

	  <div class="messages">
	    <div class="messages-content">
        {% for data in messages_list %}
          <div class="message new" style = " border-left: 6px solid {{ data.Color }} ; " >
            <div class="timestamp">
              {{ data.UserName }} at {{ data.CreateDate }}
            </div>
            <figure class="avatar">
              <img src="static/mugshot/{{ data.MugShot }}" alt="{{ data.UserName }}" title="{{ data.UserName }}">
            </figure>
            {{ data.Messages }}
            {% if data.Tag %}
              <div class="tagcat" value= "{{ data.Tag }}" >#{{ data.Tag }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
	  </div>

	  <div class="message-box">
      <button type="submit" class="add-tag"> Add Other Tag </button>
      <form class="tag-box" >
        Topic :
        {% for i in range(len_tags_show) %}
          {% if tags_list[-i]: %}
            <input class="message-tagcat" type="radio" name="cat" value="{{ tags_list[-i] }}"> {{ tags_list[-i] }}
          {% endif %}
        {% endfor %}
      </form>
    	<textarea type="text" class="message-input" placeholder="Type message..."></textarea>
    	<button type="submit" class="message-submit">Send</button>
	  </div>
	</div>

  <div class="tag-table">
    <h5>Table of Tags</h5>
    {% for i in tags_list %}
      <button class="tag-table-item" value='{{i}}'> #{{ i }} </button><br>
    {% endfor %}
    <button class="tag-table-item" value='' > Show all messages </button><br>
  </div>

	<div></div>
    <div class="container">
        <!-- Croppic Modal -->
        <div class="modal fade" id="CroppicModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload a profile picture</h4>
                    </div>
                    <div class="modal-body">
                        <div style="margin: auto" id="imgID"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <script src="{{ url_for('static', filename='javascripts/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/index.js')}}"></script>
  <script src="{{ url_for('static', filename='javascripts/plugins/croppic/croppic.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/picture.js') }}"></script>
  </body>
</html>
